<%- model_class = Interval.new.class -%>
<div class="page-header">
  <h1>todays intervals</h1>
</div>

<%= render :partial => 'list' %>

<% if @is_working %>
	<%= link_to 'stop working', stop_interval_path, :method => :put, :class => 'btn btn-primary' %>
<% else %>
	<%= link_to 'start working', start_interval_path, :method => :post, :class => 'btn btn-primary' %>
<% end %>